
@model IEnumerable<Zemoga.DTO.Post>
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Logout">
    <div>
        <input type="submit" value="Logout" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Writer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h1>Posts</h1>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nameWriter)
                </td>
                <td>
                    @Html.ActionLink("Read more", "Details", new { id = item.IdPost })
                </td>
            </tr>
        }
    </tbody>
</table>
